<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galaxia.dragonagecharactersheet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dragon_age_icon_v3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.create.ChooseRaceActivity" />
        <activity android:name=".controller.create.ChooseClasseActivity" />
        <activity android:name=".controller.create.ChooseBackgroundActivity" />
        <activity android:name=".controller.create.ResumeActivity" />
        <activity android:name=".controller.create.AssignAttributeActivity"></activity>
    </application>

</manifest>